.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .main-button {
    background-color: #d5d5d5;
    color: white;
    text-align: center;
    /* padding: 20px; */
    margin: 30px auto;
    margin-top: 0;
    width: 69%; 
    border-radius: 10px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  .button-row {
    display: flex;
    gap: 20px; /* Space between buttons */
  }
  
  .secondary-button {
    /* padding: 10px 20px; */
    font-size: 16px;
    cursor: pointer;
    width: 315px;
    height: 250px;
    background-color: white;
    border: none;
  }
  
  .pic-icon{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }